nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
}

nav a {
    text-decoration: none;
    font-weight: bold;
}

#auth-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    position: relative;
    z-index: 1;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#site-logo {
  height: 100px;
  width: auto;
  margin: 0;
}

main {
  display: flex;
  gap: 20px;
  padding: 20px;
}

#left-side {
  flex: 2;
}

#right-side {
  flex: 1;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}